<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>康泉综合门诊缴费中心</title>
  <!-- 新 Bootstrap4 核心 CSS 文件 -->
  <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
  <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <div class="jumbotron">
      <h3 class="text-center">康泉门诊支付中心</h3>
    </div>
    <p>康泉综合门诊部：你还没有绑定微信哦！</p>
    <p>如果你在康泉综合门诊有个人档案，请点击<a href="http://baidu.com">
      <button type="button" class="btn btn-default btn-sm btn-primary">绑定</button></a></p>
    <p>如果你在康泉综合门诊没有个人档案，请点击<a href="http://baidu.com">
      <button type="button" class="btn btn-default btn-sm btn-primary">注册</button></a></p>

  </div>

</body>

</html>
